@model Web.Models.CourseOperation

@{
    ViewBag.Title = "删除";
}



<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">导师 |  删除</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        @TempData["ErrorInfo"]
        <div class="col-xs-2">
            @Html.Partial("_TutorMenuPartial")
        </div>
        <div class="col-xs-10 board">

            <!--以下为模板内容-->
            <h4> 删除</h4>
            <hr />

            <h3>确认删除？</h3>
            <div>
                <h4>课程操作</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Creator.DisplayName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Creator.DisplayName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Count)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Count)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Limit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Limit)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Time)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Time)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Content)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="删除" class="btn btn-default" /> |
                        @Html.ActionLink("返回导师首页", "Index")
                    </div>
                }
            </div>

            <!--以上为模板内容-->
        </div>
    </div>
</section>







