@model IEnumerable<Web.Models.CourseRecord>

@{
    ViewBag.Title = "学生列表";
}


<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">导师 |  学生列表</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        @TempData["ErrorInfo"]
        <div class="col-xs-2">
            @Html.Partial("_TutorMenuPartial")
        </div>
        <div class="col-xs-10 board">

            <!--以下为模板内容-->
            <h4>学生列表</h4>
            <hr />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Receiver.DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseOperation.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RemarkContent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RemarkRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseOperation.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RemarkContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RemarkRate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.ActionLink("Remark", "Remark", new { id = item.Id})
                        </td>
                    </tr>
                }

            </table>


            <!--以上为模板内容-->
        </div>
    </div>
</section>







