@model Web.Models.TeamEvent

@{
    ViewBag.Title = "详情";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    h2 {
        font-family: 'Microsoft YaHei';
        color: #577492;
        text-align: center;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    dl {
        text-align: center;
    }

    dd {
        color: #3C5B45;
        font-family: Arial;
        font-size: larger;
    }

    dt {
        color: #608D4E;
        font-family: Arial;
        font-size: larger;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">团队事项 | 详情</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventContent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddTime)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</section>