@model Web.Models.TeamEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
