@model IEnumerable<Web.Models.TeamEvent>

@{
    ViewBag.Title = "主页";
    int i = 0;
}
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">团队事项 | 主页 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div class="col-xs-2">
            @Html.Partial("_EventsPartial")
        </div>
        <div class="col-xs-10 board">
            <h4>团队事项</h4>
            <hr />
            <!--以下为模板内容-->
            <p>
                @Html.ActionLink("添加", "Create")
            </p>
            <ul class="timeline">
                @foreach (var item in Model)
                {
                    if (i % 2 == 0)
                    {
                        <li>
                            <div class="tl-circ"></div>
                            <div class="timeline-panel">
                                <div class="tl-heading">
                                    <h4>@item.EventName</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@item.EventTime</small></p>
                                </div>
                                <div class="tl-body">
                                    <p>@item.EventContent</p>
                                </div>
                                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                                @Html.ActionLink("删除", "Delete", new { id = item.Id })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="timeline-inverted">
                            <div class="tl-circ"></div>
                            <div class="timeline-panel">
                                <div class="tl-heading">
                                    <h4>@item.EventName</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@item.EventTime</small></p>
                                </div>
                                <div class="tl-body">
                                    <p>@item.EventContent</p>
                                </div>
                                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                                @Html.ActionLink("删除", "Delete", new { id = item.Id })
                            </div>
                        </li>
                    }
                    i++;
                }
            </ul>
            <!--以上为模板内容-->
        </div>
    </div>
</section>
