@model IEnumerable<Web.Models.TeamEvent>

@{
    ViewBag.Title = "主页";
}
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">团队事项 | 主页 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div class="col-xs-2">
            @Html.Partial("_EventsPartial")
        </div>
        <div class="col-xs-10 board">
            <h4>团队事项</h4>
            <hr />
            <!--以下为模板内容-->
            <p>
                @Html.ActionLink("添加", "Create")
            </p>
            <ul class="timeline">
                <!--li><div class="tldate">Apr 2014</div></li-->
                <!--在左边的一行 class用timeline-->
                <li>
                    <div class="tl-circ"></div>
                    <!--以上是那个蓝色圆点-->
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>这里是标题</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>这里是时间</small></p>
                        </div>
                        <div class="tl-body">
                            <p>这里有内容。</p>
                        </div>
                    </div>
                    <!--以上是板块内容-->
                </li>
                <!--左边结束-->
                <!--在右边的一行 class用timeline-inverted-->
                <li class="timeline-inverted">
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Breaking into Spring!</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 4/07/2014</small></p>
                        </div>
                        <div class="tl-body">
                            <p>Hope the weather gets a bit nicer...</p>

                            <p>Y'know, with more sunlight.</p>
                        </div>
                    </div>
                </li>
                <!--右边结束-->
                <li>
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Surprising Headline Right Here</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 hours ago</small></p>
                        </div>
                        <div class="tl-body">
                            <p>Lorem Ipsum and such.</p>
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Breaking into Spring!</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 4/07/2014</small></p>
                        </div>
                        <div class="tl-body">
                            <p>Hope the weather gets a bit nicer...</p>

                            <p>Y'know, with more sunlight.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EventName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EventContent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EventTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddTime)
                        </td>
                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                            @Html.ActionLink("删除", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
            <!--以上为模板内容-->
        </div>
    </div>
</section>
