<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | 贸大X-Lab</title>
    @Styles.Render("~/Content/css")
    <link type="text/css" rel="stylesheet" href="~/Content/flat-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/animate.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-nav > li > .dropdown-menu {
            margin-top: 0px;
        }

        .navbar-nav > li > a {
            padding: 15px 15px;
            line-height: 23px;
            font-weight: 700;
            font-family: 'Arial Unicode MS','Microsoft YaHei UI';
        }
    </style>
</head>
<body>
    <div class="navbar" role="navigation" style="padding-bottom:1%;padding-top:1%;">
            <div class="row">
                <div class="navbar-header col-md-offset-2  col-xs-offset-0">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">X-Lab navigation</span>
                    </button>
                    <a class="navbar-brand" href="/home">京贸创客</a>
                </div>
                <div class="navbar-collapse collapse" style="padding-left:0;padding-right:0;">
                    <ul class="nav navbar-nav">
                        <li class="a">
                            <a href="#"><span class="fui-mic"></span>声音</a>
                            <ul class="dropdown-menu aa animated fadeIn">
                                <li><a href="/Home/VoiceNews">近期新闻</a></li>
                                <li><a href="/Home/VoicePoints">新锐观点</a></li>
                                <li><a href="/Home/constructing">比赛天地</a></li>
                            </ul>
                        </li>
                        <li class="a">
                            <a href="#"><span class="fui-windows-8"></span>学习</a>
                            <ul class="dropdown-menu aa animated fadeIn">
                                <li><a href="/Home/LearnSelf">个人学习</a></li>
                                <li><a href="/Home/LearnSelf#Cou">课程学习</a></li>
                                <li><a href="/Home/LearnSelf#Pro">项目学习</a></li>
                            </ul>
                        </li>
                        <li class="a">
                            <a href="#"><span class="fui-new"></span>在线</a>
                            <ul class="dropdown-menu aa animated fadeIn">
                                <li><a href="/Room/Index">场地预约</a></li>
                                <li><a href="/Home/Download">资料下载</a></li>
                                <li><a href="/Home/constructing">视频库</a></li>
                            </ul>
                        </li>
                        <li class="a">
                            <a href="#"><span class="fui-gear"></span>活动</a>
                            <ul class="dropdown-menu aa animated fadeIn">
                                <li><a href="/Activity/Index">目前活动</a></li>
                                <li><a href="/Activity/Index">往期活动</a></li>
                            </ul>
                        </li>
                        <li class="a">
                            <a href="#"><span class="fui-star"></span>培育</a>
                            <ul class="dropdown-menu aa animated fadeIn">
                                <li><a href="/Home/TutorOnline">导师在线</a></li>
                                <li><a href="/Home/TutorJoin">成为导师</a></li>
                            </ul>
                        </li>
                        <li class="a">
                            <a href="#"><span class="fui-bookmark"></span>关于</a>
                            <ul class="dropdown-menu aa animated fadeIn">
                                <li><a href="/Home/AboutSite">京贸创客</a></li>
                                <li><a href="/Home/AboutNew">创业企业</a></li>
                                <li><a href="/Home/AboutNew#Companies">创业项目</a></li>
                            </ul>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
    </div>

    @RenderBody()

    <div class="col-xs-12" style="padding-top:50px;padding-bottom:20px;min-height:225px;background-color:#ececec;font-size:10px;font-family:'Microsoft YaHei UI','Arial Unicode MS';">
        <dl class="col-md-1 col-xs-1 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
            <dt>声音</dt>
            <dd><a href="/Home/VoiceNews">近期新闻</a></dd>
            <dd><a href="/Home/VoicePoints">新锐观点</a></dd>
            <dd><a href="/Home/constructing">比赛天地</a></dd>
        </dl>
        <dl class="col-md-1 col-xs-1">
            <dt>学习</dt>
            <dd><a href="/Home/LearnSelf">个人学习</a></dd>
            <dd><a href="/Home/LearnSelf#Cou">课程学习</a></dd>
            <dd><a href="/Home/LearnSelf#Pro">项目学习</a></dd>
        </dl>
        <dl class="col-md-1 col-xs-1">
            <dt>在线</dt>
            <dd><a href="/Room/Index">场地预约</a></dd>
            <dd><a href="/Home/Download">资料下载</a></dd>
            <dd><a href="/Home/constructing">视频库</a></dd>
        </dl>
        <dl class="col-md-1 col-xs-1">
            <dt>活动</dt>
            <dd><a href="/Activity/Index">目前活动</a></dd>
            <dd><a href="/Activity/Index">往期活动</a></dd>
        </dl>
        <dl class="col-md-1 col-xs-1">
            <dt>培育</dt>
            <dd><a href="/Home/TutorOnline">导师在线</a></dd>
            <dd><a href="/Home/TutorJoin">成为导师</a></dd>
        </dl>
        <dl class="col-md-1 col-xs-1">
            <dt>关于</dt>
            <dd><a href="/Home/AboutSite">京贸创客</a></dd>
            <dd><a href="/Home/AboutNew">创业企业</a></dd>
            <dd><a href="/Home/AboutNew#Companies">创业项目</a></dd>
        </dl>
        <dl class="col-md-3 col-xs-3">
            <dt>关注微信</dt>
            <dd><img src="~/img/viewfile.jpg" style="height:150px;width:150px;"></dd>
        </dl>

    </div>
    <div class="clearfix"></div>
    <div>
        <span style="color:white;font-family:Microsoft YaHei;text-align:center;position:fixed;bottom:0;font-size:8px;z-index:1000;">&copy; @DateTime.Now.Year - 对外经济贸易大学SEA团队</span>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/flat-ui.js"></script>
    <script src="~/Scripts/flat-ui.min.js"></script>
    <script>
            $("#myCarousel").hover(function () {
                $("#myCarousel").css({ "box-shadow": "20px 20px 20px rgba(0,0,0,0.5)" });
            }, function () {
                $("#myCarousel").css({ "box-shadow": "10px 10px 20px rgba(0,0,0,0.5)" });
            });
    </script>
    <script type="text/javascript">
        var $ = function (id) {
            return "string" == typeof id ? document.getElementById(id) : id;
        };

        var Class = {
            create: function () {
                return function () {
                    this.initialize.apply(this, arguments);
                }
            }
        }

        var Extend = function (destination, source) {
            for (var property in source) {
                destination[property] = source[property];
            }
            return destination;
        }


        var Calendar = Class.create();
        Calendar.prototype = {
            initialize: function (container, options) {
                this.Container = $(container);//容器(table结构)
                this.Days = [];//日期对象列表

                this.SetOptions(options);

                this.Year = this.options.Year || new Date().getFullYear();
                this.Month = this.options.Month || new Date().getMonth() + 1;
                this.SelectDay = this.options.SelectDay ? new Date(this.options.SelectDay) : null;
                this.onSelectDay = this.options.onSelectDay;
                this.onToday = this.options.onToday;
                this.onFinish = this.options.onFinish;

                this.Draw();
            },
            //设置默认属性
            SetOptions: function (options) {
                this.options = {//默认值
                    Year: 0,//显示年
                    Month: 0,//显示月
                    SelectDay: null,//选择日期
                    onSelectDay: function () { },//在选择日期触发
                    onToday: function () { },//在当天日期触发
                    onFinish: function () { }//日历画完后触发
                };
                Extend(this.options, options || {});
            },
            //当前月
            NowMonth: function () {
                this.PreDraw(new Date());
            },
            //上一月
            PreMonth: function () {
                this.PreDraw(new Date(this.Year, this.Month - 2, 1));
            },
            //下一月
            NextMonth: function () {
                this.PreDraw(new Date(this.Year, this.Month, 1));
            },
            //上一年
            PreYear: function () {
                this.PreDraw(new Date(this.Year - 1, this.Month - 1, 1));
            },
            //下一年
            NextYear: function () {
                this.PreDraw(new Date(this.Year + 1, this.Month - 1, 1));
            },
            //根据日期画日历
            PreDraw: function (date) {
                //再设置属性
                this.Year = date.getFullYear(); this.Month = date.getMonth() + 1;
                //重新画日历
                this.Draw();
            },
            //画日历
            Draw: function () {
                //用来保存日期列表
                var arr = [];
                //用当月第一天在一周中的日期值作为当月离第一天的天数
                for (var i = 1, firstDay = new Date(this.Year, this.Month - 1, 1).getDay() ; i <= firstDay; i++) { arr.push(0); }
                //用当月最后一天在一个月中的日期值作为当月的天数
                for (var i = 1, monthDay = new Date(this.Year, this.Month, 0).getDate() ; i <= monthDay; i++) { arr.push(i); }
                //清空原来的日期对象列表
                this.Days = [];
                //插入日期
                var frag = document.createDocumentFragment();
                while (arr.length) {
                    //每个星期插入一个tr
                    var row = document.createElement("tr");
                    //每个星期有7天
                    for (var i = 1; i <= 7; i++) {
                        var cell = document.createElement("td"); cell.innerHTML = "&nbsp;";
                        if (arr.length) {
                            var d = arr.shift();
                            if (d) {
                                cell.innerHTML = d;
                                this.Days[d] = cell;
                                var on = new Date(this.Year, this.Month - 1, d);
                                //判断是否今日
                                this.IsSame(on, new Date()) && this.onToday(cell);
                                //判断是否选择日期
                                this.SelectDay && this.IsSame(on, this.SelectDay) && this.onSelectDay(cell);
                            }
                        }
                        row.appendChild(cell);
                    }
                    frag.appendChild(row);
                }
                //先清空内容再插入(ie的table不能用innerHTML)
                while (this.Container.hasChildNodes()) { this.Container.removeChild(this.Container.firstChild); }
                this.Container.appendChild(frag);
                //附加程序
                this.onFinish();
            },
            //判断是否同一日
            IsSame: function (d1, d2) {
                return (d1.getFullYear() == d2.getFullYear() && d1.getMonth() == d2.getMonth() && d1.getDate() == d2.getDate());
            }
        }
    </script>
    <script language="JavaScript">
        var cale = new Calendar("idCalendar", {
            SelectDay: new Date().setDate(10),
            onSelectDay: function (o) { o.className = "onSelect"; },
            onToday: function (o) { o.className = "onToday"; },
            onFinish: function () {
                $("idCalendarYear").innerHTML = this.Year; $("idCalendarMonth").innerHTML = this.Month;
                var flag = [10, 15, 20];
                for (var i = 0, len = flag.length; i < len; i++) {
                    this.Days[flag[i]].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('日期是:" + this.Year + "/" + this.Month + "/" + flag[i] + "');return false;\">" + flag[i] + "</a>";
                }
            }
        });

        $("idCalendarPre").onclick = function () { cale.PreMonth(); }
        $("idCalendarNext").onclick = function () { cale.NextMonth(); }

        $("idCalendarPreYear").onclick = function () { cale.PreYear(); }
        $("idCalendarNextYear").onclick = function () { cale.NextYear(); }

        $("idCalendarNow").onclick = function () { cale.NowMonth(); }

    </script>
</body>
</html>
