<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | 贸大X-Lab</title>
    @Styles.Render("~/Content/css")
    <link type="text/css" rel="stylesheet" href="~/Content/flat-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Calendar.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #242B4B;
        }

        .navbar-default .navbar-nav > li > a {
            color: white;
        }

        .navbar-default .navbar-brand {
            color: white;
        }

        .aa {
            display: none;
        }

        .a:hover .aa {
            display: block;
        }

        .navbar-nav > li > .dropdown-menu {
            margin-top: 0px;
        }

     .col-xs-12 >    dl {
            text-align: center;
        }

    .col-xs-12 >     dd {
            color: #3C5B45;
            font-family: Arial;
            font-size: larger;
        }

    .col-xs-12 > dt {
            color: #608D4E;
            font-family: Arial;
            font-size: larger;
        }
        .col-xs-10 {
            margin-top:1%;
            margin-bottom:1%;
            color:black;
        }
    </style>
</head>

<body>

    <div class="navbar navbar-default" role="navigation" style="padding-bottom:1%;padding-top:1%;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">X-Lab navigation</span>
                </button>
                <a class="navbar-brand" href="/home">京贸创客</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="a">
                        <a href="#"><span class="fui-mic"></span>声音</a>
                        <ul class="dropdown-menu aa">
                            <li><a href="/Home/VoiceNews">近期新闻</a></li>
                            <li><a href="/Home/VoicePoints">新锐观点</a></li>
                            <li><a href="/Home/constructing">比赛天地</a></li>
                        </ul>
                    </li>
                    <li class="a">
                        <a href="#"><span class="fui-windows-8"></span>学习</a>
                        <ul class="dropdown-menu aa">
                            <li><a href="/Home/LearnSelf">个人学习</a></li>
                            <li><a href="/Home/LearnSelf#Cou">课程学习</a></li>
                            <li><a href="/Home/LearnSelf#Pro">项目学习</a></li>
                        </ul>
                    </li>
                    <li class="a">
                        <a href="#"><span class="fui-new"></span>在线</a>
                        <ul class="dropdown-menu aa">
                            <li><a href="/Room/Index">场地预约</a></li>
                            <li><a href="/Home/Download">资料下载</a></li>
                            <li><a href="/Home/constructing">视频库</a></li>
                        </ul>
                    </li>
                    <li class="a">
                        <a href="#"><span class="fui-gear"></span>活动</a>
                        <ul class="dropdown-menu aa">
                            <li><a href="/Activity/Index">目前活动</a></li>
                            <li><a href="/Activity/Index">往期活动</a></li>
                        </ul>
                    </li>
                    <li class="a">
                        <a href="#"><span class="fui-star"></span>培育</a>
                        <ul class="dropdown-menu aa">
                            <li><a href="/Home/TutorOnline">导师在线</a></li>
                            <li><a href="/Home/TutorJoin">成为导师</a></li>
                        </ul>
                    </li>
                    <li class="a">
                        <a href="#"><span class="fui-bookmark"></span>关于</a>
                        <ul class="dropdown-menu aa">
                            <li><a href="/Home/AboutSite">京贸创客</a></li>
                            <li><a href="/Home/AboutNew">创业企业</a></li>
                            <li><a href="/Home/AboutNew#Companies">创业项目</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </div>

    @RenderBody()
    <div class="col-md-12 col-xs-12" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:30px;min-height:225px;background-color:#ececec;font-size:8px;">
            <dl class="col-md-1 col-xs-1">
                <dt>声音</dt>
                <dd><a href="/Home/VoiceNews">近期新闻</a></dd>
                <dd><a href="/Home/VoicePoints">新锐观点</a></dd>
                <dd><a href="/Home/constructing">比赛天地</a></dd>
            </dl>
            <dl class="col-md-1 col-xs-1">
                <dt>学习</dt>
                <dd><a href="/Home/LearnSelf">个人学习</a></dd>
                <dd><a href="/Home/LearnSelf#Cou">课程学习</a></dd>
                <dd><a href="/Home/LearnSelf#Pro">项目学习</a></dd>
            </dl>
            <dl class="col-md-1 col-xs-1">
                <dt>在线</dt>
                <dd><a href="/Room/Index">场地预约</a></dd>
                <dd><a href="/Home/Download">资料下载</a></dd>
                <dd><a href="/Home/constructing">视频库</a></dd>
            </dl>
            <dl class="col-md-1 col-xs-1">
                <dt>活动</dt>
                <dd><a href="/Activity/Index">目前活动</a></dd>
                <dd><a href="/Activity/Index">往期活动</a></dd>
            </dl>
            <dl class="col-md-1 col-xs-1">
                <dt>培育</dt>
                <dd><a href="/Home/TutorOnline">导师在线</a></dd>
                <dd><a href="/Home/TutorJoin">成为导师</a></dd>
            </dl>
            <dl class="col-md-1 col-xs-1">
                <dt>关于</dt>
                <dd><a href="/Home/AboutSite">京贸创客</a></dd>
                <dd><a href="/Home/AboutNew">创业企业</a></dd>
                <dd><a href="/Home/AboutNew#Companies">创业项目</a></dd>
            </dl>   
            <dl class="col-md-4 col-xs-4 pull-right">
                <dt>关注微信</dt>
                <dd><img src="~/img/viewfile.jpg" style="height:150px;width:150px;"></dd>
            </dl>

    </div>
    <div class="clearfix"></div>
    <div>
        <span style="color:white;font-family:Microsoft YaHei;text-align:center;position:fixed;bottom:0;font-size:8px;">&copy; @DateTime.Now.Year - 对外经济贸易大学SEA团队</span>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/flat-ui.js"></script>
    <script src="~/Scripts/flat-ui.min.js"></script>
    <script src="~/Scripts/npm.js"></script>
    <script src="~/Scripts/Calendar.js"></script>
</body>
</html>
