<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | 贸大X-Lab</title>
    @Styles.Render("~/Content/css")
    <link type="text/css" rel="stylesheet" href="~/Content/flat-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/demo.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico">
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #242B4B;
        }

        .navbar-default .navbar-nav > li > a {
            color: white;
        }

        .navbar-default .navbar-brand {
            color: white;
        }
    </style>

</head>

<body>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">X-Lab navigation</span>
                </button>
                <a class="navbar-brand" href="index">京贸创客</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Activity/Index"><span class="fui-calendar"></span>活动</a></li>
                    <li><a href="~/Context/Index"><span class="fui-user"></span>比赛</a></li>
                    <li><a href="~/Home/Download"><span class="fui-windows"></span>资料下载</a></li>
                    <li class="dropdown">
                        <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-new"></span>预约<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Course/Index">课程</a></li>
                            <li><a href="~/Room/Index">场地</a></li>
                            <li><a href="~/Activity/Index">导师</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </div>

    @RenderBody()
    <div class="clearfix"></div>
    <div>
      <span style="color:white;font-family:Microsoft YaHei;text-align:center;position:fixed;bottom:0;font-size:8px;">&copy; @DateTime.Now.Year - 对外经济贸易大学SEA团队</span>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/flat-ui.js"></script>
    <script src="~/Scripts/flat-ui.min.js"></script>
    <script src="~/Scripts/npm.js"></script>
</body>
</html>
