@model Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "首页";
}
<!--第一部分：大标题-->
<section class="sec visible-lg visible-md">
    <div class="cover2"></div>
    <div class="row animated fadeIn" style="z-index:0;">
        <b class="secheader">京贸创客创业平台<a class="visible-sm visible-xs"><br /></a> 致力创业创新发展</b><br>
        <a class="secbutton" href="/Manage/Project" target="_blank">立即提交你的创业计划</a>
    </div>
</section>
<section class="secmobile visible-xs visible-sm">
    <div class="cover2"></div>
    <div class="row animated fadeIn" style="z-index:0;">
        <b class="secheader">京贸创客创业平台<a class="visible-sm visible-xs"><br /></a> 致力创业创新发展</b><br>
        <a class="secbutton" href="/Manage/Project">立即提交你的创业计划</a>
    </div>
</section>
<!--第二部分：轮播图-->
<section class="secblank visible-lg">
    <div class="row" style="padding-left:10%;padding-right:10%;">
        <b class="secheader2 col-xs-12">风采展示|Show</b>
        <div style="margin-top:20px;" class="col-xs-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                @if (Model.Sliders.Count > 0)
                {


                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < Model.Sliders.Count; i++)
                        {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                        }
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Url.Content(Model.Sliders[0].GetUrl())" alt="First slide" style="height:400px;width:100%">
                            <div class="carousel-caption">@Model.Sliders[0].Description</div>
                        </div>
                        @for (int i = 1; i < Model.Sliders.Count; i++)
                        {
                            <div class="item">
                                <img src="@Url.Content(Model.Sliders[i].GetUrl())" alt="First slide" style="height:400px;width:100%">
                                <div class="carousel-caption">@Model.Sliders[i].Description</div>
                            </div>
                        }
                    </div>

                    <a class="left carousel-control" data-slide="prev" href="#myCarousel" style="color:springgreen">&lsaquo;</a>
                    <a class="right carousel-control" data-slide="next" href="#myCarousel" style="color:springgreen">&rsaquo;</a>

                }
            </div>
        </div>
    </div>
</section>

<section class="secblankmobile hidden-lg">
    <div class="row" style="padding-left:2%;padding-right:2%;">
        <b class="secheader2 col-xs-12">风采展示<span class="hidden-xs hidden-sm">|Show</span></b>
        <div style="margin-top:20px;" class="col-xs-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" style="">
                @if (Model.Sliders.Count > 0)
                {


                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < Model.Sliders.Count; i++)
                        {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                        }
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Url.Content(Model.Sliders[0].GetUrl())" alt="First slide" style="height:300px;width:100%">
                            <div class="carousel-caption">@Model.Sliders[0].Description</div>
                        </div>
                        @for (int i = 1; i < Model.Sliders.Count; i++)
                        {
                            <div class="item">
                                <img src="@Url.Content(Model.Sliders[i].GetUrl())" alt="First slide" style="height:300px;width:100%">
                                <div class="carousel-caption">@Model.Sliders[i].Description</div>
                            </div>
                        }
                    </div>

                    <a class="left carousel-control" data-slide="prev" href="#myCarousel" style="color:springgreen">&lsaquo;</a>
                    <a class="right carousel-control" data-slide="next" href="#myCarousel" style="color:springgreen">&rsaquo;</a>

                }
            </div>
        </div>
    </div>
</section>

<!--第三部分：公告栏-->
<section class="secblank" style="background-image:url(../../img/featuresbg.jpg);background-size: cover;background-position: center;background-attachment:local;">
    <div class="row" style="padding-left:5%;padding-right:5%;">
        <b class="secheader col-xs-12">近期活动|Recent</b>
        @foreach (Web.Models.ActivityOperation a in Model.LatestActivitys)
        {
            <div class="col-md-4 col-xs-6">
                <div class="feature">
                    <h3 class="boardname hidden-xs hidden-sm">@a.Name</h3>
                    <h3 class="boardnamemb visible-xs visible-sm">@a.Name</h3>
                    <p class="boardtime" style="margin-bottom:0"><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2016/4/24 13:53:00</small></p>
                    <p class="boardcontent visible-lg visible-md">@a.ShortContent</p>
                    <a class="btn btn-primary btn-large btn-block imgbtn" style="background-color:rgb(0,161,196);" target="_blank" href="~/Activity/Details/@a.Id">阅读详细</a>
                </div>
            </div>
        }
    </div>
</section>
<!--第四部分：团队故事-->
<section class="secblank">
    <div class="row" style="padding:0 10%">
        <div class="col-xs-12 secheader" style="color:black;">团队故事<span class="hidden-xs hidden-sm">|Story</span></div>
        <div class="col-xs-6 col-md-3" style="padding:4px 8px;">
            <div class="showitem">
                <img class="img-responsive" src="~/img/story02.jpg" alt="团队一" height="270" width="262">
                <div class="storycover"><p class="scoverpara">MOHA互联网文化潮流传播营销工作室</p><a class="storya" href="/home/story1" target="_blank">了解团队</a></div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3" style="padding:4px 8px;">
            <div class="showitem">
                <img class="img-responsive" src="~/img/story04.jpg" alt="团队二" height="270" width="262">
                <div class="storycover"><p class="scoverpara">SEA团队集体出游小组</p><a class="storya" href="/home/story2" target="_blank">了解团队</a></div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3" style="padding:4px 8px;">
            <div class="showitem">
                <img class="img-responsive" src="~/img/story05.jpg" alt="团队三" height="270" width="262">
                <div class="storycover"><p class="scoverpara">nimengshuaiqi的前端&美工</p><a class="storya" href="/home/story3" target="_blank">了解团队</a></div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3" style="padding:4px 8px;">
            <div class="showitem">
                <img class="img-responsive" src="~/img/story08.jpg" alt="团队四" height="270" width="262">
                <div class="storycover"><p class="scoverpara">一只病病</p><a class="storya" href="/home/story4" target="_blank">了解团队</a></div>
            </div>
        </div>

    </div>
</section>
<!--第五部分：日历-->
<section class="secblank" style="background:url(../../img/calenderbg.jpg) center;padding:100px 0;">
    <div class="row" style="padding-left:10%;padding-right:10%;">
        <div class="row">
            <b class="secheader col-xs-12">活动日历<span class="hidden-xs hidden-sm">|Calendar</span></b>
            <div class="col-sm-6 hidden-xs">
                <div class="Calendar">
                    <div id="idCalendarPre">&lt;&lt;</div>
                    <div id="idCalendarNext">&gt;&gt;</div>
                    <span id="idCalendarYear"></span>年 <span id="idCalendarMonth"></span>月
                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <td>日</td>
                                <td>一</td>
                                <td>二</td>
                                <td>三</td>
                                <td>四</td>
                                <td>五</td>
                                <td>六</td>
                            </tr>
                        </thead>
                        <tbody id="idCalendar"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h5 style="color:white;font-family:YouYuan;">本月活动</h5>
                <ul id="activityByMonth" style="list-style:none;">
                    @Html.Action("ActivitiesByMonth", new { year = DateTime.Now.Year, month = DateTime.Now.Month });
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</section>
<!--上面是日历-->
<script>
    $("#myCarousel").hover(function () {
        $("#myCarousel").css({ "box-shadow": "20px 20px 20px rgba(0,0,0,0.5)" });
    }, function () {
        $("#myCarousel").css({ "box-shadow": "10px 10px 20px rgba(0,0,0,0.5)" });
    });
</script>
<script type="text/javascript">
    var $ = function (id) {
        return "string" == typeof id ? document.getElementById(id) : id;
    };

    var Class = {
        create: function () {
            return function () {
                this.initialize.apply(this, arguments);
            }
        }
    }

    var Extend = function (destination, source) {
        for (var property in source) {
            destination[property] = source[property];
        }
        return destination;
    }


    var Calendar = Class.create();
    Calendar.prototype = {
        initialize: function (container, options) {
            this.Container = $(container);//容器(table结构)
            this.Days = [];//日期对象列表

            this.SetOptions(options);

            this.Year = this.options.Year || new Date().getFullYear();
            this.Month = this.options.Month || new Date().getMonth() + 1;
            this.SelectDay = this.options.SelectDay ? new Date(this.options.SelectDay) : null;
            this.onSelectDay = this.options.onSelectDay;
            this.onToday = this.options.onToday;
            this.onFinish = this.options.onFinish;

            this.Draw();
        },
        //设置默认属性
        SetOptions: function (options) {
            this.options = {//默认值
                Year: 0,//显示年
                Month: 0,//显示月
                SelectDay: null,//选择日期
                onSelectDay: function () { },//在选择日期触发
                onToday: function () { },//在当天日期触发
                onFinish: function () { }//日历画完后触发
            };
            Extend(this.options, options || {});
        },
        //当前月
        NowMonth: function () {
            this.PreDraw(new Date());
        },
        //上一月
        PreMonth: function () {
            var request = this.Month - 1;
			if (request <= 0) {
				request = 1;
			}
			if (request >= 13) {
				request = 12;
			}
            jQuery.ajax({
                type: "GET",
                url: '@Url.Action("ActivitiesByMonth")' + '?year=' + this.Year + '&month=' + request,
                data: {},
                datatype: "json",
                success: function (data) {
                    document.getElementById('activityByMonth').innerHTML = data;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
            this.PreDraw(new Date(this.Year, this.Month - 2, 1));
        },
        //下一月
        NextMonth: function () {
            var request = this.Month + 1;
			if (request <= 0) {
				request = 1;
			}
			if (request >= 13) {
				request = 12;
			}
            jQuery.ajax({
                type: "GET",
                url: '@Url.Action("ActivitiesByMonth")' + '?year=' + this.Year + '&month=' + request,
                data: {},
                datatype: "json",
                success: function (data) {
                    document.getElementById('activityByMonth').innerHTML = data;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
            this.PreDraw(new Date(this.Year, this.Month, 1));
        },
        //上一年
        PreYear: function () {
            this.PreDraw(new Date(this.Year - 1, this.Month - 1, 1));
        },
        //下一年
        NextYear: function () {
            this.PreDraw(new Date(this.Year + 1, this.Month - 1, 1));
        },
        //根据日期画日历
        PreDraw: function (date) {
            //再设置属性
            this.Year = date.getFullYear(); this.Month = date.getMonth() + 1;
            //重新画日历
            this.Draw();
        },
        //画日历
        Draw: function () {
            //用来保存日期列表
            var arr = [];
            //用当月第一天在一周中的日期值作为当月离第一天的天数
            for (var i = 1, firstDay = new Date(this.Year, this.Month - 1, 1).getDay() ; i <= firstDay; i++) { arr.push(0); }
            //用当月最后一天在一个月中的日期值作为当月的天数
            for (var i = 1, monthDay = new Date(this.Year, this.Month, 0).getDate() ; i <= monthDay; i++) { arr.push(i); }
            //清空原来的日期对象列表
            this.Days = [];
            //插入日期
            var frag = document.createDocumentFragment();
            while (arr.length) {
                //每个星期插入一个tr
                var row = document.createElement("tr");
                //每个星期有7天
                for (var i = 1; i <= 7; i++) {
                    var cell = document.createElement("td"); cell.innerHTML = "&nbsp;";
                    if (arr.length) {
                        var d = arr.shift();
                        if (d) {
                            cell.innerHTML = d;
                            this.Days[d] = cell;
                            var on = new Date(this.Year, this.Month - 1, d);
                            //判断是否今日
                            this.IsSame(on, new Date()) && this.onToday(cell);
                            //判断是否选择日期
                            this.SelectDay && this.IsSame(on, this.SelectDay) && this.onSelectDay(cell);
                        }
                    }
                    row.appendChild(cell);
                }
                frag.appendChild(row);
            }
            //先清空内容再插入(ie的table不能用innerHTML)
            while (this.Container.hasChildNodes()) { this.Container.removeChild(this.Container.firstChild); }
            this.Container.appendChild(frag);
            //附加程序
            this.onFinish();
        },
        //判断是否同一日
        IsSame: function (d1, d2) {
            return (d1.getFullYear() == d2.getFullYear() && d1.getMonth() == d2.getMonth() && d1.getDate() == d2.getDate());
        }
    }
</script>
<script language="JavaScript">
    var cale = new Calendar("idCalendar", {
        SelectDay: new Date().setDate(10),
        onSelectDay: function (o) { o.className = "onSelect"; },
        onToday: function (o) { o.className = "onToday"; },
        onFinish: function () {
            $("idCalendarYear").innerHTML = this.Year; $("idCalendarMonth").innerHTML = this.Month;
            var flag = [];
            for (var i = 0, len = flag.length; i < len; i++) {
                this.Days[flag[i]].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('日期是:" + this.Year + "/" + this.Month + "/" + flag[i] + "');return false;\">" + flag[i] + "</a>";
            }
        }
    });

    $("idCalendarPre").onclick = function () { cale.PreMonth(); }
    $("idCalendarNext").onclick = function () { cale.NextMonth(); }

    $("idCalendarPreYear").onclick = function () { cale.PreYear(); }
    $("idCalendarNextYear").onclick = function () { cale.NextYear(); }

    $("idCalendarNow").onclick = function () { cale.NowMonth(); }

</script>

