@model Web.Models.ListPage<Web.Models.Article>
@{
    ViewBag.Title = "近期新闻";
    int index = Model.PageIndex + 1;
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">声音 | 近期新闻 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="container-fluid" style="padding-left:10%;padding-right:10%">
        <div class="row">
            <ul class="breadcrumb col-md-3 col-xs-6" style="font-family: 'Arial Unicode MS','Microsoft YaHei UI';">
                <li>
                    <a href="#">首页</a> <span class="divider"></span>
                </li>
                <li class="active">
                    声音<span class="divider"></span>
                </li>
                <li class="active">近期新闻</li>
            </ul>
        </div>
        @{
            <ul class="pager">
                @if (Model.HasPreviousPage)
                {
                    <li class="previous ">@Html.ActionLink("前一页", "VoiceNews", new { page = Model.PageIndex - 1 })</li>
                }
                else
                {
                    <li class="previous disabled"><a>前一页</a></li>
                }
                <li><a>@index</a></li>
                @if (Model.HasNextPage)
                {
                    <li class="previous ">@Html.ActionLink("后一页", "VoiceNews", new { page = Model.PageIndex + 1 })</li>
                }
                else
                {
                    <li class="previous disabled"><a>后一页</a></li>
                }
            </ul>
        }
        <div class="row">
            <!--分页-->
            <!--  <ul class="pager">
                @if (Model.HasPreviousPage)
                {
                    <li class="previous"><a href="@Url.Action("VoiceNews", new { page = Model.PageIndex - 1 })">上一页</a></li>
                }
                else
                {
                    <li class="previous disabled"><a href="#">上一页</a></li>
                }
                <li><a href="#">@index</a></li>
                @if (Model.HasNextPage)
                {
                    <li class="next"><a href="@Url.Action("VoiceNews", new { page = Model.PageIndex + 1 })">下一页</a></li>
                }
                else
                {
                    <li class="next disabled"><a href="#">下一页</a></li>
                }
            </ul>             -->
            <!--文章项目-->
            @foreach (Web.Models.Article item in Model)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="feature">
                        <img src="@Url.Content(item.Image.GetUrl())" alt="Compas">
                        <h3 style="margin-top: 25px; margin-bottom: 5px; font-size: 26px;">@item.Title</h3>
                        <p style="font-size: 16px;line-height: 1.6;  margin: 0 0 10px;text-wrap:normal;">
                            @item.ShortContent
                        </p>
                        <a class="btn btn-primary btn-large btn-block imgbtn" href="@Url.Content(item.GetUrl())" style="background-color:rgb(0,161,196)">阅读详细</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
