@model Web.Models.ActivityOperation

@{
    ViewBag.Title = "Details";
}
<style>
    h2 {
        font-family: 'Microsoft YaHei';
        color: #577492;
        text-align: center;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">活动 | 目前活动 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div>@ViewData["ErrorInfo"]</div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Count)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Count)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Limit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Limit)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Content)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Apply", "Apply", new { id = Model.Id }) |
            @Html.ActionLink("Quit", "Quit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</section>