@model Web.Models.RoomOperation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomOperation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Apply", "Apply", new { id = Model.Id }) |
    @Html.ActionLink("Quit", "Quit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
