@model IEnumerable<Web.Models.RoomOperation>

@{
    ViewBag.Title = "Index";
}
<style>
    h2 {
        font-family: 'Microsoft YaHei';
        color: #577492;
        text-align: center;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    dl {
        text-align: center;
    }

    dd {
        color: #3C5B45;
        font-family: Arial;
        font-size: larger;
    }

    dt {
        color: #608D4E;
        font-family: Arial;
        font-size: larger;
    }
   body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/mate1.jpg);background-size:cover;background-position:center;">

</div>
<div class="col-md-1 col-xs-1"></div>
<p>
    <div>
        @TempData["ErrorInfo"]
    </div>
</p>
<div class="col-md-10 col-xs-10" style="padding-top:2%;padding-bottom:2%">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Apply", "Apply", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Quit", "Quit", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>
    <div class="col-md-1 col-xs-1"></div>
