@using Web.Models;
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}

<style type="text/css">
    body {
        background: url(/img/gallery/bg-login.jpg);
        background-attachment:fixed;
    }

    .login-form .login-field-icon {
        right: unset;
        position: unset;
    }
</style>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="login-form col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 col-xs-offset-0" style="margin-top:100px;margin-bottom:100px">
            <h6 class="loginheader">登录你的账号</h6>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="login-field-icon fui-mail pull-left" for="Email">邮箱</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-filed col-xs-10", @placeholder = "请输入邮箱", @id = "Email" })
               <div class="col-xs-12">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>     
                </div>
                <div class="form-group">
                    <div>
                        <label class="login-field-icon fui-lock pull-left" for="Password">密码</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control login-field col-xs-10", @placeholder = "请输入密码", @id = "Password" })
               <div class="col-xs-12">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>      
                    </div>
                </div>
                <div class="form-group">
                    <label class="remember" for="RememberMe">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        记住我？
                    </label>
                    <button type="submit" value="登录" class="btn btn-primary btn-lg btn-block">登录</button>
                </div>

            }


        </div><!--/row-->
    </div><!--/.fluid-container-->

</div><!--/fluid-row-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
