@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "注册";
}
<style type="text/css">
    body {
        background: url(/img/subtle-grunge-texture-02.jpg);
        background-size:contain;
        background-attachment:fixed;   
    }

    .login-form .login-field-icon {
        right: unset;
        position: unset;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="login-form col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 col-xs-offset-0" style="margin-top:100px;margin-bottom:100px">
            <h6 class="loginheader">创建新账户</h6>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="margin:auto;width:70%;">
                    <a class="login-field-icon fui-mail col-xs-12" for="Email">邮箱</a>
                    @Html.TextBoxFor(m => m.Email, new { @class = " form-control login-filed", @placeholder = "请输入邮箱", @id = "Email" })
                    <div class="col-xs-12">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
                </div>
                <div class="form-group" style="margin:auto;width:70%;">
                    <a class="login-field-icon fui-user col-xs-12" for="DisplayName">昵称</a>                   
                        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control login-filed", @placeholder = "请输入昵称", @id = "DisplayName" })
                    <div class="col-xs-12"></div>
                </div>
                <div class="form-group" style="margin:auto;width:70%;">
                    <div>
                        <a class="login-field-icon fui-lock col-xs-12" for="Password">密码</a>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control login-field", @placeholder = "请输入密码", @id = "Password" })
                        <div class="col-xs-12">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div> 
                    </div>
                </div>
                <div class="form-group" style="margin:auto;width:70%;">
                        <a class="login-field-icon fui-lock col-xs-12" for="ConfirmPassword">确认密码</a>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control login-field", @placeholder = "请确认密码", @id = "ConfirmPassword" })
                        <div class="col-xs-12">@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })</div>
                <button type="submit" value="注册" class="btn btn-primary btn-lg btn-block" style="margin-top:30px">注册</button>
                </div>
            }
        </div><!--/row-->
     
        </div>
    </div><!--/.fluid-container-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
         
