@model Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }    .nav-list > li > a {
        padding: 5px 8px;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/sushe1.JPG);background-position:center;background-size:cover;">

</div>
<div class="col-md-12 col-xs-12">
    <div class="col-md-2 col-xs-2">
        <ul class="nav nav-list well" style="margin-top:15%;margin-bottom:15%;font-size:small;min-width:120px">
            <li>
                <a href="/Manage/Index">个人中心</a>
            </li>
            <li>
                <a href="/Manage/Calendar">个人日历</a>
            </li>
            <li>
                <a href="/Manage/RecordList">显示履历</a>
            </li>
            <li class="nav-header">
                个人信息
            </li>
            <li>
                <a href="/Manage/UserProfile">修改信息</a>
            </li>
            <li>
                <a href="/Manage/UserIdentity">信息验证</a>
            </li>
            <li>
                <a href="/Manage/ChangePassword">修改密码</a>
            </li>
            <li>
                <a href="/Manage/Project">我的项目</a>
            </li>
            <li class="nav-header">
                我的团队
            </li>
            <li>
                <a href="/Manage/TeamProfile">创建团队</a>
            </li>
            <li>
                <a href="/Manage/TeamApply">申请加入</a>
            </li>
            <li>
                <a href="/Manage/TeamMember">团队成员</a>
            </li>
            <li>
                <a href="/Manage/TeamRecruit">成员管理</a>
            </li>
            <li>
                <a href="/Manage/Company">公司注册</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-xs-10">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            }

    </div>
</div>

