@model Web.Models.ManageIndexViewModel
@{
    ViewBag.Title = "个人中心";
}


<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader" id="head">用户 |  个人中心</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <b style="font-size:16px;font-weight:bold;color:red;">
            @ViewBag.StatusMessage
        </b>
        <div class="col-xs-2">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="col-xs-10 board" style="background:none;">
            <h5 style="background-color:white;padding:10px 15px;font-family:'Microsoft YaHei';font-size:15px;">系统通知</h5>
            <a>只会显示最近三个月的消息。</a>
            <!--以下为模板内容-->
            <ul style="padding-left:5px;padding-right:5px;">
                @foreach (var item in Model.NewMessage)
                {
                    <li class="msgli">
                        <div class="msghead">
                            @item.Title
                            <span class="msgtime">
                                @item.Time
                            </span>
                        </div>
                        <div class="msgcontent">
                            @item.Content
                        </div>
                    </li>
                }
            </ul>
            <!--以上为模板内容-->
        </div>
    </div>
</section>
