
@{
    ViewBag.Title = "Index";
}
@ViewBag.StatusMessage
<div class="col-md-2">
   
</div>
<div class="col-md-10">
<h2>Index</h2>
</div>
@Html.ActionLink("我的信息", "")
<li class="dropdown">
    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-new"></span>我的项目<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("创建项目", "Project")</li>
        <li>@Html.ActionLink("查看项目", "ProjectProfile")</li>
    </ul>
</li>
<li class="dropdown">
    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-new"></span>我的团队<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("创建团队", "TeamProfile")</li>
        <li>@Html.ActionLink("申请加入", "TeamApply")</li>
        <li>@Html.ActionLink("团队成员", "TeamMember")</li>
        <li>@Html.ActionLink("成员管理", "TeamRecruit")</li>
        <li>@Html.ActionLink("公司注册", "Company")</li>
    </ul>
</li>
