@using Web.Models
@{
    ViewBag.Title = "显示履历";
}
<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">用户 |  显示履历</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        @ViewBag.StatusMessage
        <div class="col-xs-2">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="col-xs-10 board">
           
            <!--以下为模板内容-->
            <h4>显示履历</h4>
            <hr />
                @{
                    var Educations = (List<EducationRecord>)ViewBag.Educations;
                    var Works = (List<WorkRecord>)ViewBag.Works;
                    <div>
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <caption>教育经历</caption>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(e => Educations.First().DegreeType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(e => Educations.First().School)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(e => Educations.First().StartYear)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(e => Educations.First().EndYear)
                                    </th>
                                </tr>

                                @foreach (var item in Educations)
            {
                string degree = "";
                switch (item.DegreeType)
                {
                    case 1:
                        degree = "本科学历";
                        break;
                    case 2:
                        degree = "硕士学历";
                        break;
                    case 3:
                        degree = "博士学历";
                        break;
                    case 4:
                        degree = "博士以上学历";
                        break;
                }
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => degree)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.School)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndYear)
                                        </td>
                                    </tr>
                                }
                                <tfoot>@Html.ActionLink("添加一条教育经历", "AddEducationRecord")</tfoot>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <caption>工作经历</caption>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(e => Works.First().Company)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(e => Works.First().StartYear)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(e => Works.First().EndYear)
                                    </th>
                                </tr>
                                @foreach (var item in Works)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndYear)
                                        </td>
                                    </tr>
                                }
                                <tfoot>@Html.ActionLink("添加一条工作经历", "AddWorkRecord")</tfoot>
                            </table>
                        </div>
                    </div>
                }

            <!--以上为模板内容-->
        </div>
    </div>
</section>


   








