@model IEnumerable<Web.Models.TeamRecord>

@{
    ViewBag.Title = "成员列表";
}



<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">用户 |  成员列表</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <b style="font-size:16px;font-weight:bold;color:red;">
            @ViewBag.StatusMessage
        </b>
        <div class="col-xs-2">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <!--以下为模板内容-->
            <h4>成员列表</h4>
            <hr />
            <p>
                @Html.ActionLink("退出团队", "TeamMemberQuit")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Receiver.DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        电话号码
                    </th>
                    <th>
                        电子邮箱
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver.DisplayName)
                        </td>
                        <td>
                            @Web.Models.EnumExtension.GetEnumCustomDescription(item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver.Profile.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver.Profile.Email)
                        </td>
                        <td>
                            @Html.ActionLink("删除", "TeamMemberDelete", new { id = item.Receiver.Id }, new { @class = "btn-sm btn-warning" })
                        </td>
                    </tr>
                }

            </table>
            <!--以上为模板内容-->
        </div>
    </div>
</section>



