@model Web.Models.TeamProfileViewModel

@{
    ViewBag.Title = "TeamProfile";
}

<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    .nav-list > li > a {
        padding: 5px 8px;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/sushe1.JPG);background-position:center;background-size:cover;">

</div>
<div class="col-md-12 col-xs-12">
    <div class="col-md-2 col-xs-2">
        @Html.Partial("_ManageMenuPartial")
    </div>
    <div class="col-md-10 col-xs-10">

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Administrator)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Administrator)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Introduction)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Introduction)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Announcement)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Announcement)
                </dd>

            </dl>
      
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>




