@model IEnumerable<Web.Models.TeamRecord>

@{
    ViewBag.Title = "TeamMember";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    .nav-list > li > a {
        padding: 5px 8px;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/sushe1.JPG);background-position:center;background-size:cover;">

</div>
<div class="col-md-12 col-xs-12">
    <div class="col-md-2 col-xs-2">
        @Html.Partial("_ManageMenuPartial")
    </div>
    <div class="col-md-10 col-xs-10">

        <p>
            @Html.ActionLink("Quit", "TeamMemberQuit")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Receiver.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Receiver.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Receiver.UserName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver.DisplayName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver.DisplayName)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "TeamMemberDelete", new { id = item.Id ,@class="btn btn-default"})
                    </td>
                </tr>
            }

        </table>

    </div>
</div>


