@model IEnumerable<Web.Models.User>

@{
    ViewBag.Title = "TeamAccess";
}
<style>
    body {
        background: url(/img/HeaderGreyDenim.jpg);
        background-repeat: repeat;
    }

    .nav-list > li > a {
        padding: 5px 8px;
    }
</style>
<div class="col-md-12" style="display:block;height:300px;padding-left:0;padding-right:0;background-image:url(../../img/sushe1.JPG);background-position:center;background-size:cover;">

</div>
<div class="col-md-12 col-xs-12">
    <div class="col-md-2 col-xs-2">
        @Html.Partial("_ManageMenuPartial")
    </div>
    <div class="col-md-10 col-xs-10">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Identitied)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identitied)
                    </td>
                    <td>
                        @Html.ActionLink("同意加入", "DoTeamAccess", "Manage", new { id = item.Id, IsApprove = true })
                        @Html.ActionLink("拒绝加入", "DoTeamAccess", "Manage", new { id = item.Id, IsApprove = false })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
