@model IEnumerable<Web.Models.User>

@{
    ViewBag.Title = "招募成员";
}


<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">用户 |  招募成员</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <b style="font-size:16px;font-weight:bold;color:red;">
            @ViewBag.StatusMessage
        </b>
        <div class="col-xs-2">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <!--以下为模板内容-->
            <h4>招募成员</h4>
            <hr />

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Identitied)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identitied)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "UserDetails", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
            <!--以上为模板内容-->
        </div>
    </div>
</section>




