@model Web.Models.User

@{
    ViewBag.Title = "UserDetails";
}

<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">用户 |  用户详情</b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        @ViewBag.StatusMessage
        <div class="col-xs-2">
            @Html.Partial("_ManageMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <!--以下为模板内容-->
            <h4>用户详情</h4>
            <hr />


          
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DisplayName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Identitied)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Identitied)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("招募", "TeamRecruit", new { id = Model.Id })
            </p>

            <!--以上为模板内容-->
        </div>
    </div>
</section>



