@model Web.Models.CompanyIdentityRecord

@{
    ViewBag.Title = "CompanyIdentityRecordDetails";
}

<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">管理员 | 公司详情 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div class="col-xs-2">
            @Html.Partial("_AdminMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <h4>公司详情</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Admin.DisplayName)
                </dt>

                <dt>
                    @Html.DisplayFor(model => model.Admin.DisplayName)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Admin.Identitied)
                </dt>

                <dt>
                    @Html.DisplayFor(model => model.Admin.Identitied)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Admin.UserName)
                </dt>

                <dt>
                    @Html.DisplayFor(model => model.Admin.UserName)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Admin.PhoneNumber)
                </dt>

                <dt>
                    @Html.DisplayFor(model => model.Admin.PhoneNumber)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SourcesOfFunds)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SourcesOfFunds)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Corporation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Corporation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegisterSite)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegisterSite)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CodeOfBusinessLicense)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CodeOfBusinessLicense)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MembersCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MembersCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AmountOfMoney)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AmountOfMoney)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RecentTurnover)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RecentTurnover)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompanyValuation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompanyValuation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FinancingAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FinancingAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SharesSold)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SharesSold)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FinancingTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FinancingTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Investment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Investment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
            <p>
                @Html.ActionLink("审批通过", "IdentityRecordApprove", new { id = Model.Id, isApprove = true }) |
                @Html.ActionLink("审批驳回", "IdentityRecordApprove", new { id = Model.Id, isApprove = false }) |
                @Html.ActionLink("Back to List", "Index")
            </p>


        </div>
    </div>
</section>
