@model IEnumerable<Web.Models.ProjectIdentityRecord>

@{
    ViewBag.Title = "ProjectIdentityRecords";
}

<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">管理员 | 项目列表 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div class="col-xs-2">
            @Html.Partial("_AdminMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <h4>项目列表</h4>
            <hr />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin.DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin.Identitied)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Industry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Introduction)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Feature)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tech)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Progress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desire)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TargetCustomer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectBudget)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Webpage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Privacy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)

            {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Admin.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Admin.Identitied)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Admin.UserName)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Admin.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Industry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Introduction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Feature)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tech)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Progress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desire)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TargetCustomer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectBudget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Webpage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Privacy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "IdentityRecordDetails", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>
