@model Web.Models.ProjectIdentityRecord

@{
    ViewBag.Title = "ProjectIdentityRecordDetails";
}

<style>
    .nav-pills > li > a {
        color: white;

    }
    h2 {
        font-family: 'Microsoft YaHei';
        color: #577492;
        text-align: center;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }
    dl{
        text-align:center;
    }
    dd{
        color:#3C5B45;
        font-family:Arial;
        font-size:larger;
    }
    dt{
        color:#608D4E;
        font-family:Arial;
        font-size:larger;
    }

</style>
<div class="col-md-2">
    <div class="navbar navbar-collapse" style="margin:50px 3%">
        @Html.Partial("_AdminMenuPartial")
    </div>
</div>
<div class="col-md-10">

    <div>
        <h4>IdentityRecord</h4>
        <hr />
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Admin.DisplayName)
            </dt>

            <dt>
                @Html.DisplayFor(model => model.Admin.DisplayName)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Admin.Identitied)
            </dt>

            <dt>
                @Html.DisplayFor(model => model.Admin.Identitied)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Admin.UserName)
            </dt>

            <dt>
                @Html.DisplayFor(model => model.Admin.UserName)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Admin.PhoneNumber)
            </dt>

            <dt>
                @Html.DisplayFor(model => model.Admin.PhoneNumber)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Industry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Industry)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Introduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Introduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Feature)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Feature)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tech)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tech)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Progress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Progress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Patent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Desire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Desire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TargetCustomer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TargetCustomer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectBudget)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectBudget)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Webpage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Webpage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Privacy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Privacy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    <br />
    <p>
        @Html.ActionLink("审批通过", "IdentityRecordApprove", new { id = Model.Id, isApprove = true }) |
        @Html.ActionLink("审批驳回", "IdentityRecordApprove", new { id = Model.Id, isApprove = false }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
