@model Web.Models.CreateTutorViewModel

@{
    ViewBag.Title = "创建导师";
}

<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">管理员 | 创建导师 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div class="col-xs-2">
            @Html.Partial("_AdminMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <h4>创建导师</h4>
            <hr />
            @using (Html.BeginForm("TutorCreate", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "请输入邮箱", @id = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayName, htmlAttributes:  new { @class = "control-label col-md-2" }) 
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "请输入名字", @id = "DisplayName" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Introduction, htmlAttributes:  new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Introduction, new { @class = "form-control", @placeholder = "导师简介", @id = "Introduction" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @placeholder = "导师职位", @id = "Position" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">上传头像</label>
                        <div class="col-md-10">
                            <input name="file" type="file" />
                        </div>
                    </div>

                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="确定" class="btn btn-default">注册</button>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("返回管理主页", "Index")
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}