@model Web.Models.CreateTutorViewModel

@{
    ViewBag.Title = "创建导师";
}

<section class="sec2">
    <div class="cover">
    </div>
    <div class="row animated pulse">
        <b class="secheader">管理员 | 创建导师 </b>
        <p class="seccontent">
            京贸创客创业平台是对外经济贸易大学国际经济贸易学院与北京其他兄弟院校共建的创业平台。在这里你能找到自己的创业伙伴，获得导师指导，注册并成立自己的创业公司。
        </p>
    </div>
</section>
<section style="display: table;width: 100%;height: auto; padding: 100px 0 100px; color:black;position: relative;">
    <div class="row" style="padding:0 5%;">
        <div class="col-xs-2">
            @Html.Partial("_AdminMenuPartial")
        </div>
        <div class="col-xs-10 board">
            <h4>创建导师</h4>
            <hr />
            @using (Html.BeginForm("TutorCreate", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Email, new { htmlAttributes = new { @class = "control-label col-xs-2" } })
                <div class="form-group">
                    <label class="col-xs-2" for="Email"></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-filed col-xs-10", @placeholder = "请输入邮箱", @id = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.DisplayName, new { htmlAttributes = new { @class = "control-label col-xs-2" } })
                <div class="form-group">
                    <label class="col-xs-2" for="DisplayName"></label>
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control login-filed col-xs-10", @placeholder = "请输入名字", @id = "DisplayName" })
                </div>

                @Html.LabelFor(model => model.Password, new { htmlAttributes = new { @class = "control-label col-xs-2" } })
                <div class="form-group">
                    <div>
                        <label class="col-xs-2" for="Password"></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control login-field col-xs-10", @id = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "control-label col-xs-2" } })
                <div class="form-group">
                    <div>
                        <label class="col-xs-2" for="ConfirmPassword"></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control login-field col-xs-10", @id = "ConfirmPassword" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(model => model.Introduction, new { htmlAttributes = new { @class = "control-label col-xs-2" } })
                <div class="form-group">
                    <label class="col-xs-2" for="Introduction"></label>
                    @Html.TextBoxFor(m => m.Introduction, new { @class = "form-control login-filed col-xs-10", @placeholder = "导师简介", @id = "Introduction" })
                </div>

                @Html.LabelFor(model => model.Position, new { htmlAttributes = new { @class = "control-label col-xs-2" } })
                <div class="form-group">
                    <label class="col-xs-2" for="Position"></label>
                    @Html.TextBoxFor(m => m.Position, new { @class = "form-control login-filed col-xs-10", @placeholder = "导师职位", @id = "Position" })
                </div>

                <div class="form-group">
                    <label class="col-xs-2">上传头像</label>
                    <input name="file" type="file" />
                </div>

                <div class="form-group">
                    <button type="submit" value="确定" class="btn btn-primary btn-lg">注册</button>
                </div>
            }

            <div>
                @Html.ActionLink("返回管理主页", "Index")
                @Html.ActionLink("返回用户列表", "Index")
            </div>




        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}