 @model IEnumerable<Web.Models.User>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<style>
    .nav-pills > li > a {
        color: white;
    }

    h2 {
        font-family: 'Microsoft YaHei';
        color: #577492;
        text-align: center;
    }

    .table > tbody > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
    }

    dl {
        text-align: center;
    }

    dd {
        color: #3C5B45;
        font-family: Arial;
        font-size: larger;
    }

    dt {
        color: #608D4E;
        font-family: Arial;
        font-size: larger;
    }
</style>
<div class="col-md-2">
    <div class="navbar navbar-collapse" style="margin:50px 50px">
        <ul class="nav nav-pills nav-stacked navbar-nav" style="padding-left:0;padding-right:0;">
            <li><a href="Index">公告管理</a></li>
            <li><a href="Articles">文章管理</a></li>
            <li><a href="Activities">活动管理</a></li>
            <li><a href="UserList">用户管理</a></li>
            <li><a href="IdentityRecords" style="padding:0 0;margin-left:">用户认证管理</a></li>
            <li class="dropdown">
                <a href="Materials" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">资源管理</a>
                <ul class="dropdown-menu">
                    <li><a href="MaterialCreate">新建资源</a></li>
                    <li><a href="MaterialDelete">删除资源</a></li>
                    <li><a href="MaterialDetails">资源细节</a></li>
                    <li><a href="MaterialEdit">资源编辑</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<p>
    @Html.ActionLink("创建教师账号", "TutorCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdentityRecord.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamRecord.RemarkContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.InformationPrivacy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Searchable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identitied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdentityRecord.IdNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamRecord.RemarkContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>        
        <td>
            @Html.DisplayNameFor(model => model.Profile.Email)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Profile.InformationPrivacy)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Profile.Other)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Profile.Phone)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Profile.Searchable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identitied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDisabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "UserEdit", new { id=item.Id })
        </td>
    </tr>
}

</table>
